<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.socialmedia">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/CustomeNoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <activity android:name=".FirstScreen.LoginActivity"
                android:theme="@style/CustomeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".FirstScreen.SignUpActivity"
                android:theme="@style/CustomeNoActionBar"/>
        <activity android:name=".NavigationBottom.Search.SearchUserActivity"
            android:theme="@style/CustomeNoActionBar"/>
        <activity android:name=".NavigationBottom.Home.HomeActivityViewPager"
            android:theme="@style/CustomeNoActionBar"/>
        <activity android:name=".NavigationBottom.Stories.Stories"
            android:configChanges="screenSize|orientation"
            android:windowIsTranslucent="true"
            android:screenOrientation="portrait"
            android:theme="@style/CustomeNoActionBar"/>
        <activity android:name=".NavigationBottom.Activity.ActivityUser"
            android:theme="@style/CustomeNoActionBar"/>
    </application>

</manifest>